<!-- include Header-->
<%- include("include/_header")%>
<!-- /include Header -->

<!--Main Site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-user" class="border-shadow" style="background-color: white;">
                <span class="text-gradient">Novo Usuario <i class="fas fa-user"></i></span>
            </a>
        </div>
        <!-- form handling-->
        <form action="/" method="POST">
        <table class="table">
            <thead class="thead-dark">
             <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Altura(CM)</th>
                <th>Peso(KG)</th>
                <th>Sexo</th>
                <th>Sintomas</th>
                <th>Teste Covid</th>
                <th>Doente Cronico</th>
                <th>Grupo de Risco</th>
                <th>Triste ou Ansioso</th>
                <th>IMC</th>
                <th>Ações</th>
            </tr>
                </thead>
            </thead>
            <tbody>
                <%- include("include/_show")%>
            </tbody>
            
        </table>
        <div class="form-tittle text-center">
            <h2 class="text-dark">Recomendações</h2>
            <span class="span text-light" style="color:whitesmoke">Visite nossa pagina de recomendações sobre a pandemia:</span><br>
            <a href="recomendacoes/recomendacoes.html" class="2">Clique Aqui!</a>
        </div>
        </form>
      
    </div>
    
</main>
<!--/Main Site-->

<!-- include footer-->
<%- include("include/_footer")%>
<!-- /include footer -->